.header {
    width: 100%;
    height: 6rem;
    background-color: #b3b3b3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 4rem;
    margin-left: 20px;
}


.headerText {
    font-size: 2rem;
    font-weight: 600;
}


.container {
    display: flex;
}


.logout {
    height: 3.5rem;
    border: none;
    background-color: #d3d3d3;
    margin-right: 20px;
    border-radius: 15px;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    cursor: pointer;
    border: 2px solid black;
}

.logout:hover {
    background-color: var(--button-hover);
}

#logoutSvg {
    height: 2rem;
}

.cardsContainer {
    width: 20rem;
}

.profileContainer {
    background-color: #b3b3b3;
    border: 2px solid black;
    border-radius: 10px;
    height: 9rem;
    display: flex;
    margin: 20px 0 0 20px;
}

.profileimgWrapper {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.profileimg {
    height: 7rem;
    border: 2px solid black;
    border-radius: 10px;
}

.credentialsContainer {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credentialsWrapper {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fullname {
    font-size: 20px;
    font-weight: 600;
}

.title {
    font-weight: 600;
    font-size: 15px;
}

.username {
    font-size: 20px;
    font-weight: 600;
}

.xpContainer {
    height: 7rem;
    background-color: #b3b3b3;
    margin: 20px 0 0 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
}

.xpText {
    position: absolute;
    margin: -10px 0 0 20px;
    color: #d4d3d3;
    font-weight: 600;
    font-size: 18px;
    background-color: #000000;
    border-radius: 4px;
    width: 1.9rem;
    height: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.xpAmountWrapper {
    width: 50%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kbLogoWrapper {
    width: 50%;
    font-size: 50px;
    color: #3e3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kbLogo {
    border: 2px solid black;
    border-radius: 10px;
    height: 5.3rem;
    width: 5.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hrLine {
    border-color: rgb(138, 132, 132);
}

.levelContainer {
    height: 7rem;
    background-color: #b3b3b3;
    margin: 20px 0 0 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
}

.levelText {
    position: absolute;
    margin: -10px 0 0 20px;
    color: #d4d3d3;
    font-weight: 600;
    font-size: 18px;
    background-color: #000000;
    border-radius: 4px;
    width: 3.3rem;
    height: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleWrapper {
    width: 50%;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proTitel {
    width: 7rem;
    height: 4rem;
    display: flex;
    align-items: center;
}

.titleBorder {
    width: 8rem;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.levelWrapper {
    width: 50%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auditContainer {
    height: 7rem;
    background-color: #b3b3b3;
    margin: 20px 0 0 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
}

.auditRatioWrapper {
    width: 50%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auditGraphWrapper {
    width: 50%;
}

.auditRatioText {
    position: absolute;
    margin: -10px 0 0 20px;
    color: #d4d3d3;
    font-weight: 600;
    font-size: 16px;
    background-color: #000000;
    border-radius: 4px;
    width: 6.4rem;
    height: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.doughnutChart {
    width: 100%;
    height: 80%;
    margin-top: 10px;
}

.graphsHolder {
    /* width: 100%; */
    display: flex;
    /* justify-content: center; */
    margin: 1.3rem 0 0 2rem;
    flex-direction: column;
    /* position: relative; */
}

.xpGraph {
    background-color: #b3b3b3;
    height: 25rem;
    width: 70rem;
    border-radius: 15px;
    display: block;
}

.circle:hover {
    r: 4;
    border: 2px solid black;
    cursor: pointer;
}

.projectName {
    width: max-content;
    padding: 3px;
    background-color: #000000;
    color: white;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 2px;
    display: none;
}

.skillChart {
    background-color: #b3b3b3;
    height: 21rem;
    width: 70rem;
    border-radius: 15px;
    display: block;
    margin-top: 20px;
}